[data-theme='ocean'] {
  --theme-color-app-bg: var(--color-blue-50);
  --theme-color-neutral-softest: var(--color-cool-gray-100);
  --theme-color-neutral-softer: var(--color-cool-gray-200);
  --theme-color-neutral-soft: var(--color-cool-gray-400);
  --theme-color-neutral: var(--color-cool-gray-600);
  --theme-color-neutral-strong: var(--color-cool-gray-800);
  --theme-color-neutral-stronger: var(--color-cool-gray-900);
  --theme-color-neutral-strongest: var(--color-cool-gray-950);
  --theme-color-primary-softer: var(--color-blue-100);
  --theme-color-primary-soft: var(--color-blue-200);
  --theme-color-primary: var(--color-blue-400);
  --theme-color-primary-strong: var(--color-blue-600);
  --theme-color-primary-stronger: var(--color-blue-800);
  --theme-color-secondary-softer: var(--color-orange-100);
  --theme-color-secondary-soft: var(--color-orange-200);
  --theme-color-secondary: var(--color-orange-400);
  --theme-color-secondary-strong: var(--color-orange-600);
  --theme-color-secondary-stronger: var(--color-orange-800);
}

[data-theme='ocean-dark'] {
  --theme-color-app-bg: var(--color-cool-gray-900);
  --theme-color-neutral-softest: var(--color-cool-gray-800);
  --theme-color-neutral-softer: var(--color-cool-gray-700);
  --theme-color-neutral-soft: var(--color-cool-gray-500);
  --theme-color-neutral: var(--color-cool-gray-400);
  --theme-color-neutral-strong: var(--color-cool-gray-300);
  --theme-color-neutral-stronger: var(--color-cool-gray-200);
  --theme-color-neutral-strongest: var(--color-cool-gray-50);
  --theme-color-primary-softer: var(--color-blue-900);
  --theme-color-primary-soft: var(--color-blue-800);
  --theme-color-primary: var(--color-blue-600);
  --theme-color-primary-strong: var(--color-blue-400);
  --theme-color-primary-stronger: var(--color-blue-200);
  --theme-color-secondary-softer: var(--color-orange-950);
  --theme-color-secondary-soft: var(--color-orange-900);
  --theme-color-secondary: var(--color-orange-700);
  --theme-color-secondary-strong: var(--color-orange-500);
  --theme-color-secondary-stronger: var(--color-orange-300);
}
