$font-size-root: 1rem;
$font-size-h1: $font-size-root * 4;
$font-size-h2: $font-size-root * 3;
$font-size-h3: $font-size-root * 2;
$font-size-h4: $font-size-root * 1.5;
$font-size-h5: $font-size-root * 1.125;
